@import '../../sass/global';

.node-accodion {

  .title {
    display: flex;

    .title-text {
      @include shadow-text;
      margin: auto 0;
      padding-left: 15px;
      color: $content-text;
      font-size: $card-header-font-size;
    }

    .img {
      margin: auto 0;
      max-height: 50px;
      height: auto;
      width: auto\9; //ie8
      opacity: 0.9;
    }

    .icon {
      margin: auto 0;
      color: $primary;
    }
  }

  .action-buttons {
    .button {
      border: 0 none;

      .active, :focus, :active:focus {
        outline: 0 none;
      }
    }

    .button-add-child {
      color: $add-child-button-color;
    }
  }

  .children-panel-title {
    @include shadow-text;
    padding-bottom: 10px;
  }

  ::ng-deep .card {
    color: $content-text;
    background-color: $bootstrap-panel-bg;
    border: 0;
    border-radius: $bootstrap-panel-radius;
    position: relative;
    margin-bottom: 24px;
    box-shadow: $bootstrap-panel-shadow;

    ::ng-deep .card-header, .card-footer {
      color: $content-text;

      a {
        text-decoration: none;
      }

      background-color: $bootstrap-panel-header-bg;
    }
  }
}
