@import '../../sass/global';

.node-accodion {

  .title {
    display: flex;

    .title-text {
      @include shadow-text;

      margin: auto 0;
      padding-left: 15px;
      color: $content-text;
      font-size: $card-header-font-size;
    }

    .img {
      max-height: 50px;
      height: auto;
      width: auto\9; //ie8
      opacity: 0.9;
    }

    .button {

    }
  }

  .children-panel-title {
    @include shadow-text;
    padding-bottom: 10px;
  }

  ::ng-deep .card {
    color: $content-text;
    background-color: $bootstrap-panel-bg;
    border: 0;
    border-radius: $bootstrap-panel-radius;
    position: relative;
    margin-bottom: 24px;
    box-shadow: $bootstrap-panel-shadow;

    ::ng-deep .card-header, .card-footer {
      color: $content-text;

      a {
        text-decoration: none;
      }

      //border-bottom: $bootstrap-panel-header-border;
      // height: $card-title-height;
      // font-size: $card-header-font-size;
      // $vertical-padding: ($card-title-height - $card-header-font-size) / 2;
      // padding: $vertical-padding 22px;
      background-color: $bootstrap-panel-header-bg;
    }

    /*
    ::ng-deep .card-title {
      // font-weight: $font-normal;
      // font-size: $card-header-font-size;
      // text-transform: uppercase;
      // opacity: 0.9;
      // color: $content-text;
    }*/

    /*
    ::ng-deep .card-primary {
      .card-header {
        background-color: $primary-bg;
        border-color: $primary-bg;
      }
    }*/
  }
}
