<ngb-accordion class="node-accodion">
  <ngb-panel [disabled]="isDisabled()">

    <!-- Title -->
    <ng-template ngbPanelTitle>
      <div class="row mx-auto">
        <div class="col-8 title">

          <div *ngIf="showImage(); else show_icon">
            <img class="img" [src]="node.image" />
          </div>

          <!-- Show an icon if an image is not available -->
          <ng-template #show_icon>
              <i class="fa fa-3x fa-cutlery icon" aria-hidden="true"></i>
          </ng-template>

          <h6 class="title-text">{{ node.name }}</h6>
        </div>

        <!-- Buttons -->
        <div class="action-buttons col-4 text-right">

          <!-- Add child button. Not shown for simple products. -->
          <button *ngIf="showAddChildButton()" class="button button-add-child btn btn-outline-secondary" (click)="addChildClick($event)">
            <i class="fa fa-2x fa-plus-square-o icon" aria-hidden="true"></i>
          </button>

          <!-- Delete branch button -->
          <button class="button button-delete-branch btn btn-outline-danger" (click)="deleteButtonClick($event)">
            <i class="fa fa-2x fa-times-circle-o icon" aria-hidden="true"></i>
          </button>
        </div>

      </div>
    </ng-template>

    <!-- Child nodes -->
    <ng-template ngbPanelContent class="content">

      <div>
        <h4 class="children-panel-title">{{ childrenPanelTitle }}</h4>

        <div *ngFor="let child of node.children.values()">
          <app-node-accordion [node]="child"></app-node-accordion>
        </div>

      </div>

    </ng-template>
  </ngb-panel>
</ngb-accordion>
