@import './sass/global';

.main-app {
  @include body-bg;

  min-height: 100%;
  position: relative;
  font: 14px/16px $font-family;
  color: $default-text;

  .additional-bg {
    display: none;
  }
}
